{% extends "admin.twig" %}

{% block alert %}
    {% if (success.0) %}
        <div class="uk-alert-success" uk-alert>{{ success.0 }}</div>
    {% endif %}

    {% if (errors.0) %}
        <div class="uk-alert-danger" uk-alert>{{ errors.0 }}</div>
    {% endif %}
{% endblock %}

{% block content %}
    <form action="{{ path_for('user.update') }}" method="post">
        <div class="uk-margin">
            <label for="InputName">Login</label>
            <input type="text" name="username" class="uk-input" value="{{ user.username | escape }}" id="InputName" aria-describedby="nameHelp" placeholder="Login">
        </div>
        <div class="uk-margin">
            <label for="InputEmail1">Email address</label>
            <input type="email" name="email" class="uk-input" value="{{ user.email | escape }}" id="InputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
        </div>
        <div class="uk-margin">
            <label for="SelectRole">Select Role</label>
            <select id="SelectRole" class="uk-select" name="roles_mask">
                <option value="0" {% if(user.roles_mask == 0) %} selected {% endif %}>USER</option>
                <option value="1" {% if(user.roles_mask == 1) %} selected {% endif %}>ADMIN</option>
            </select>
        </div>
        <input type="hidden" name="id" value="{{ user.id }}">
        <button class="uk-button uk-button-default">Update User</button>
    </form>
{% endblock %}