{% extends "admin.twig" %}

{% block alert %}
    {% if (messages.success.0) %}
    <div class="uk-alert-success" uk-alert>{{ messages.success.0 }}</div>
    {% endif %}

    {% if (messages.errors.0) %}
        <div class="uk-alert-danger" uk-alert>{{ messages.errors.0 }}</div>
    {% endif %}
{% endblock %}

{% block content %}
    <a href="{{ path_for('user.add') }}" class="uk-button uk-button-primary uk-align-right">Add User</a>
    <h3 class="uk-card-title">Users List</h3>

    <table class="uk-table uk-table-striped">
        <thead>
        <tr>
            <th>#ID</th>
            <th>Login</th>
            <th>Email</th>
            <th>Role</th>
            <th>Registered</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        {% for user in users %}
        <tr>
            <td>{{ user.id }}</td>
            <td>{{ user.username }}</td>
            <td>{{ user.email }}</td>
            <td>{{ user.roles_mask }}</td>
            <td>{{ user.registered | date }}</td>
            <td>
                <a href="{{ path_for('user.edit', {'id' : user.id}) }}"><span uk-icon="icon: file-edit"></span></a>&nbsp;
                <a href="{{ path_for('user.delete', {'id' : user.id}) }}"><span uk-icon="icon: trash"></span></a>
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}