{% extends "admin.twig" %}

{% block alert %}
    {% if (messages.success.0) %}
        <div class="uk-alert-success" uk-alert>{{ messages.success.0 }}</div>
    {% endif %}

    {% if (messages.errors.0) %}
        <div class="uk-alert-danger" uk-alert>{{ messages.errors.0 }}</div>
    {% endif %}
{% endblock %}

{% block content %}
    <a href="{{ path_for('page.add') }}" class="uk-button uk-button-primary uk-align-right">Add Page</a>
    <h3 class="uk-card-title">Pages List</h3>
    <table class="uk-table uk-table-striped">
        <thead>
        <tr>
            <th>#ID</th>
            <th>Page title</th>
            <th>slug</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        {% for page in pages %}
            <tr>
                <td>{{ page.id }}</td>
                <td>{{ page.title }}</td>
                <td>{{ page.slug }}</td>
                <td>
                    <a href="{{ path_for('page.edit', {'id' : page.id}) }}"><span uk-icon="icon: file-edit"></span></a>&nbsp;
                    <a href="{{ path_for('page.delete', {'id' : page.id}) }}"><span uk-icon="icon: trash"></span></a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}