<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block metaTitle %}Administrator's panel{% endblock %}</title>
    {% block styles %}
        <link rel="stylesheet" href="/backend/css/uikit.min.css" />
        <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
        <link rel="stylesheet" href="/backend/css/style.css" />
        <link rel="stylesheet" href="/backend/css/notyf.min.css" />
        <link rel="stylesheet" href="/backend/css/dropzone.css" />
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
        <script src="/backend/js/uikit.min.js" ></script>
        <script src="/backend/js/uikit-icons.min.js" ></script>
    {% endblock %}

    {% if(is_auth()) %}
        {% set current_user=get_user() %}
    {% endif %}
</head>
<body>
<div id="maine-page-content">
    <div uk-sticky class="uk-navbar-container tm-navbar-container uk-active">
            <div class="uk-container uk-container-expand">
                <nav uk-navbar>
                    <div class="uk-navbar-left">
                        <a id="sidebar_toggle" class="uk-navbar-toggle" uk-navbar-toggle-icon ></a>
                        <a href="#" class="uk-navbar-item uk-logo">
                            UI Admin
                        </a>
                    </div>
                    <div class="uk-navbar-right uk-light">
                        <ul class="uk-navbar-nav">
                            <li class="uk-active">
                                <a href="#">{{ current_user.username | default('user') }} &nbsp;<span class="ion-ios-arrow-down"></span></a>
                                <div uk-dropdown="pos: bottom-right; mode: click; offset: -17;">
                                    <ul class="uk-nav uk-navbar-dropdown-nav">
                                        <li class="uk-nav-header">Options</li>
                                        <li><a href="{{ path_for('profile.index') }}">Edit Profile</a></li>
                                        <li class="uk-nav-header">Actions</li>
                                        <li><a href="{{ path_for('home.page') }}">Home page</a></li>
                                        <li><a href="{{ path_for("logout") }}">Logout</a></li>
                                    </ul>
                                </div>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
    </div>
    <div id="sidebar" class="tm-sidebar-left uk-background-default">
        <center>
            <div class="user">
                <img id="avatar" width="100" class="uk-border-circle" src="{{ current_user.avatar | default('/backend/images/no-avatar.png') }}" />
                <div class="uk-margin-top"></div>
                <div id="name" class="uk-text-truncate">{{ current_user.username | escape }}</div>
                <div id="email" class="uk-text-truncate">{{ current_user.email | escape }}</div>
                <span id="status" data-enabled="true" data-online-text="Online" data-away-text="Away" data-interval="10000" class="uk-margin-top uk-label uk-label-success"></span>
            </div>
            <br />
        </center>
        <ul class="uk-nav uk-nav-default uk-nav-parent-icon" uk-nav="multiple: true"">
            <li class="uk-nav-header">
                Admin Menu
            </li>
            <li class="uk-parent">
                <a href="#"><span  uk-icon="icon: file-text"></span> Pages</a>
                <ul class="uk-nav-sub">
                    <li><a href="{{ path_for('pages.list') }}">All Pages</a></li>
                    <li><a href="{{ path_for('page.add') }}">Add Page</a></li>
                </ul>
            </li>
            <li class="uk-parent">
                <a href="#"><span  uk-icon="icon: file-text"></span> Posts</a>
                <ul class="uk-nav-sub">
                    <li><a href="{{ path_for('post.list') }}">All Posts</a></li>
                    <li><a href="{{ path_for('post.add') }}">Add Post</a></li>
                    <li><a href="{{ path_for('rubric.list') }}">All Rubrics</a></li>
                    <li><a href="{{ path_for('rubric.add') }}">Add Rubric</a></li>
                </ul>
            </li>
            <li>
                <a href="{{ path_for('media.list') }}"><span  uk-icon="icon: image"></span> Media</a>
            </li>
            <li class="uk-parent">
                <a href="#"><span  uk-icon="icon: user"></span> Users</a>
                <ul class="uk-nav-sub">
                    <li><a href="{{ path_for('user.list') }}">All Users</a></li>
                    <li><a href="{{ path_for('user.add') }}">Add User</a></li>
                </ul>
            </li>
        </ul>
    </div>
    <div class="content-padder content-background">
        <div class="uk-section-small uk-section-default header">
            <div class="uk-container uk-container-large">
                <h1> {% block labelPage %}<span class="ion-speedometer"></span> Dashboard{% endblock %}</h1>
                <p>
                    {% block adminHeader %}Welcome back, Èrik Campobadal{% endblock %}
                </p>
                <ul class="uk-breadcrumb">
                    <li><a href="{{ path_for('admin') }}">Home</a></li>
                    <li><span href="">{% block labelPathName %}Dashboard{% endblock %}</span></li>
                </ul>
            </div>
        </div>
        <div class="uk-section-small">
            <div class="uk-container uk-container-large">
                <div class="alert-wrapper">
                    {% block alert %}{% endblock %}
                </div>
                {% block content %}{% endblock %}
            </div>
        </div>
    </div>

</div>
{% block scripts %}

    <!--script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.0/Chart.min.js" integrity="sha256-UGwvyUFH6Qqn0PSyQVw4q3vIX0wV1miKTracNJzAWPc=" crossorigin="anonymous"></script-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.transit/0.9.12/jquery.transit.min.js" integrity="sha256-rqEXy4JTnKZom8mLVQpvni3QHbynfjPmPxQVsPZgmJY=" crossorigin="anonymous"></script>
    <script src="/backend/js/notyf.min.js"></script>
    <!-- Required Overall Script -->
    <script src="/backend/js/script.js"></script>
    <!-- Status Updater -->
    <script src="/backend/js/status.js"></script>
    <!-- Sample Charts -->
    <script src="/backend/js/dropzone.js"></script>
    <!-- Sample Notifications -->
    <script src="/backend/js/notification.js"></script>
    <script src="/bundle.js"></script>
{% endblock %}
</body>
</html>