<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.1.4/css/uikit.min.css" />
</head>
<body>
<header id="header-top">
    <nav class="uk-navbar uk-navbar-container">
        <div class="uk-navbar-right">

            <ul class="uk-navbar-nav">
                <li class="uk-active">
                    <a href="/">Home</a>
                </li>
                <li><a href="{{ path_for("about.page") }}">About Us</a></li>
                {% if(is_auth()) %}
                    <li><a href="{{ path_for("profile.index") }}">Profile</a></li>
                    <li><a href="{{ path_for("logout") }}">Logout</a></li>
                {% else %}
                    <li><a href="{{ path_for("login.page") }}">Sign in</a></li>
                    <li><a href="{{ path_for("register.page") }}">Sign up</a></li>
                {% endif %}
            </ul>
            <div class="uk-navbar-left">
                <a class="uk-navbar-toggle" uk-navbar-toggle-icon href="#"></a>
            </div>
        </div>
    </nav>
</header>
<div id="maine-page-content">

    {% block content %}{% endblock %}
</div>
<footer>
    <div class="uk-section uk-section-secondary">
        <div class="uk-container uk-container-small">Footer</div>
    </div>

</footer>
<script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.1.4/js/uikit.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.1.4/js/uikit-icons.min.js"></script>
</body>
</html>